button {
  padding: 10px 25px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

button:hover,
th {
  background-color: black;
  color: white;
}

th,
td {
  padding: 0 8px;
}

tr:nth-child(odd) {
  background-color: #d2d2d2;
}
